.hero {
    margin-top: 5rem;
    background-image: url('../assets/img/home.webp');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
  }

  .section-slider {
    background-image: url('../assets/img/back-slider.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-servicios {
    margin-top: 5rem;
    background-image: url('../assets/img/servicios-head.webp');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
  }